.container{
  border:2px black;
  
}
h1{
  text-align:center;

}
span{
  color:#FF5733 ;
}
#image {
  max-width:100%;
 display:block;
 margin:auto;
 border-radius:10px;
align-items:center;

 text-align:center;
 
}
.heading {
  margin-left:10%;
  text-align:left;
  padding:5px;
  width:20%;
  height:auto;
  border:3px solid red;
  background-color:black;
  color:white;
  font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto',
    'Helvetica Neue', Arial, sans-serif;
    border-radius:10px;
}
@media (max-width: 460px) {
  h1 {
    font-size: 3.5rem;
    line-height: 1.2;
  }
}
p{
  font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto',
    'Helvetica Neue', Arial, sans-serif ;
}
body{
  background-color:slublue;
}
